[Desktop Entry]
Name=Lyra
Comment=Sound, Stage, Sense
Exec=__APP_PATH__
Icon=__ICON_PATH__
Terminal=false
Type=Application
Categories=AudioVideo;Player;
StartupWMClass=Lyra
